<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donor Sauce Home</title>
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e7c183;">
        <div class="row">
            <div class="box_head col-md-6">
                <h2>Donor Sauce</h2>
            </div>
            <div class="box_head_center col-md-6">
                <h4>Politician Info & Campaign Donations</h4>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/api/legislators">Legislators</a>
                        <a class="dropdown-item" href="/api/donors">Donors</a>
                        <a class="dropdown-item" href="/api/summary">Summary</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/map">U.S. Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/summary">Summary</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="context col-md-6">
                <h4 class="where">Where does the money come from?</h4>
                <p>
                    Political campaigns cost millions of dollars. In 2018, over $5.7 billion was spent on congressional
                    elections.
                    Politicians are often times pressured to change their platforms to match donor interests. This
                    project attemps to clarify political contributions: who receives
                    money, who supplies it, and how much?
                </p>
                <br>
                <h4 class="where">How to use this website</h4>
                <p>
                    This dataset can be viewed in several ways. Want to know your representative's donors?
                    Head over to the maps page. Want to know which legislators receive money from a specific
                    corporation?
                    Select "Donors" from the Data drop-down menu and search for a corporation. Select "Summary" for
                    overall
                    statistics.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='media/flag_inverted2.jpg') }}" alt="Inverted flag">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <!-- Bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>